<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <link rel="stylesheet" th:href="@{/css/admin-projects.css}">
    </head>
    <body>
        <nav class="navbar">
            <a href="/admin/tasks">Tasks</a>
            <a href="/admin/projects">Projects</a>
            <a href="/admin/users">Users</a>
            <a href="/logout">LogOut</a>
        </nav>
        <div class="container">
            <h1>Users</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.role}"></td>
                        <td> 
                            <form th:action="@{/admin/update_user/{id}(id=${user.id})}" method="get">
                                <button type="submit">update</button>
                            </form>
                        </td>
                        <td> 
                            <form th:action="@{/admin/delete_user/{id}(id=${user.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </body>
</html>