<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>document</title>
        <link rel="stylesheet" th:href="@{/css/Login.css}">
    </head>
    <body>
       <div class="container">
            <h1>Signup</h1>
           <form id="loginForm" th:action="@{/create}" method="post">
            <div class="input-group">
                <input placeholder="Enter name" type="text" name="name" required>
            </div>
            <div class="input-group">
                <input placeholder="Enter username" type="text" name="userName" required>
            </div>
            <div class="input-group">
                <input placeholder="Enter password" type="password" name="password" required>     
            </div>
            <div class="input-group">
                <input placeholder="Confirm password" type="password" name="confirmPassword" required>     
            </div>
            <div class="links">
                <a href="/login">Already a User? LogIn</a>
            </div>
            <button type="submit" class="button">SignUp</button>
           </form>
           <div th:if="${errorMessage}" style="color:red;" >
            <p th:text="${errorMessage}"></p>
            </div>
       </div>
       <script th:src="@{/javascript/Login.js}"></script>
    </body>
</html>