<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>document</title>
        <link rel="stylesheet" th:href="@{/css/update-task.css}">
    </head>
    <body>
       <div class="container">
            <h1>Update Project</h1>
           <form id="updateUserForm" th:action="@{/admin/update_user/{id}(id=${user.id})}" method="post">
            <div class="input-group">
                <input placeholder="Enter name" type="text" name="name" th:value="${user.name}" required>
            </div>
            <div class="input-group">
                <select name="role" th:field="${user.role}" required>
                    <option value="">Select Role</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="MEMBER">MEMBER</option>
                </select>    
            </div>
            <button type="submit" class="button">Update</button>
           </form>
       </div>
    </body>
</html>