<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>document</title>
        <link rel="stylesheet" th:href="@{/css/update-task.css}">
    </head>
    <body>
       <div class="container">
            <h1>Update Task</h1>
           <form id="updateForm" th:action="@{/admin/update_task/{id}(id=${task.id})}" method="post">
            <div class="input-group">
                <input placeholder="Enter name" type="text" name="title" th:value="${task.title}" required>
            </div>
            <div class="input-group">
            <select name="assignedTo" required>
                    <option value="">Assign To</option>
                    <option th:each="user : ${users}" th:value="${user}" th:text="${user}" th:selected="${user == task.assignedTo}"></option>
            </select>
            </div>
            <div class="input-group">
                <input placeholder="Enter dueDate" type="date" name="dueDate" th:value="${task.dueDate}" required>     
            </div>
            <div class="input-group">
                <select name="project" th:field="${task.project}" required>
                    <option value="">Select Project</option>
                    <option th:each="project : ${projects}" th:value="${project}" th:text="${project}"></option>
            </select>
            </div>
            <div class="input-group">
                <select name="status" th:field="${task.status}" required>
                    <option value="">Select Status</option>
                    <option value="PENDING">PENDING</option>
                    <option value="COMPLETED">COMPLETED</option>
                    <option value="APPROVED">APPROVED</option>
                </select>    
            </div>
            <button type="submit" class="button">Update</button>
           </form>
       </div>
    </body>
</html>